body {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
  }
h2{
    color: brown;
    background-color: blue;
}
body{
    font-family: 'roboto, sans-serif';
}

.box h2{
    color: red;
}

.text{
    color: blue;
}

.boxx p{
    display: inline;
    padding-top: 500px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
}


.entete{
    padding: 50px 50px;
}