body {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
  }
  h1{
    color: brown;
    background: none;
    
    
}

body{
    font-family: 'Times New Roman', Times, serif;
}

.date label{
    color: darkgreen;
}

.deco{
    text-decoration: aqua;
    text-align: center;
    text-size-adjust: 10px;
}

.box3 p{
    display: inline;
    padding-top: 500px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
}


.entete3{
    padding: 50px 50px;
}

