body {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
  }
  div{
    display: block;
  }
  p{
    height: 70px;
    width: 900px;
    background: grey;
    color: black;
    line-height: 30px;
  }
  #st_ex{
    color: red;
  }
  
  .rempF{
    font-family: sans-serif;
  }
  th{
    color: darkgray;
  }

h1{
    text-align: center;
}  

.ANM h1{
    color: blue;
}
.box1 h1{
    color: blue;
}

.box1{
    padding: 50px 50px;
    margin: 30px;
}

#HM{
    border: 5px dotted black;
    font-size: 4rem;
    text-transform: capitalize;
    text-shadow: -1px -1px 1px #aaa,
                 0px 2px 1px rgba(0,0,0,0.5),
                 2px 2px 2px rgba(0,0,0,0.7),
                 0px 0px 3px rgba(0,0,0,0.4);
    text-align: center;
}

.box1 h2{
    border: 5px dotted blueviolet;
}

.boox p{
    display: inline;
   
}

.ent{
  padding: 50xp 50xp;
}