body {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}
h2 {
  color: brown;
  background-color: grey;
  font-family: Source Sans Pro;
}
body {
  font-family: "roboto, sans-serif";
}

.box h2 {
  color: red;
  font-family: Source Sans Pro;
}

.text {
  color: blue;
}

.text:focus {
  color: darkgreen;
}

.boxx p {
  display: inline;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 10px;
}

.entete {
  padding: 5px 50px;
  border: solid;
  border-color: black;
  background-color: darkgrey;
  text-align: center;
}

p {
  color: black;
}

.piedpg {
  border: solid;
  border-color: aqua;
  background-color: hotpink;
  text-align: center;
}
.container {
  border: solid;
  border-color: crimson;
  background-color: cornflowerblue;
}
.piedpg p {
  display: inline;
}

.entete {
  position: sticky;
  top: 0;
}
